*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --white: whitesmoke;
  --grey11: rgba(28,28,28,0.8);
  --grey21: rgba(54,54,54, 0.8);
  --whitesmoke: rgba(211,211,211, 0.5);
  --limongreen: limegreen;
  --limon: lime;
  
}


.title-section{
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  padding-top: 30px;
  
  margin-left: 8rem;
  border-bottom: 2px solid var(--limon);
  display: inline-block;

}

/*header*/
.title-logo{
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  font-weight: 800;
  color: var(--white);
}.title-logo > span{
  color: var(--limongreen);
}
.header-menu-item > a{
  color: var(--white);
  font-size: 1.5rem;
  font-family: 'Poppins' , sans-serif;
  text-decoration: none;
  padding: .5rem;
}

.header-menu-item > a:hover{
  color: var(--limongreen);
}


header{
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: black;
}
.header-nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#menuB{
  display: none;
}

.header-menu{
  display: flex;
  list-style: none;
  gap: 1rem;
}

/*Home*/
.containrs-home{
  padding-top: 3rem;
  width: 100%;
  height: 100vh;
  background-color: black;
  
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.card-home{
  width: 80%;
  height: 60vh;
  display: flex ;
  align-items: center;
  justify-content: center;
  background-color: var(--grey11);
  position: relative;
  border-radius: 1rem;
  
  box-shadow: 2px 1px 2px 2px var(--whitesmoke);
}
.name{
  
  color: whitesmoke;
}
.test{
  position: absolute;
  background-color: var(--grey21);
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  top: 0;
  
  
}
.dev{
  color: var(--white);
  font-size: 2rem;
  margin-top: -1rem;
  font-family: "Nunito", sans-serif;
  
}
.title-name{
  display: block;
  color: var(--white);
  font-family: "Nunito", sans-serif;
  font-size: 4rem;
  font-weight: 1000;
  
}
.span{
  color: var(--limongreen);
}
.front{
  font-family: "Nunito", sans-serif;
  display: block;
  color: var(--limongreen);
  margin-left: 4.5rem;
  margin-top: -1.7rem;
  font-size: 1rem;
}

/*Projetos*/
.containrs-projetos{
  width: 100%;
  padding: 2rem 0;
  background-color: silver;
}

.conteudo-projetos{
  margin: 0 auto;
  width: 80%;

}
.cards{
  margin-top: 3rem;
 display: grid;
 width: 100%;
 grid-template-columns: repeat(auto-fit,minmax(30%, auto));
 gap: 2rem;
}
.card{
  padding: 1rem 1.5rem;
  background-color: var(--grey11);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: .5rem;
}
.imgCard{
  width: 5rem;
  height: 5rem;
}
.desCard{
  font-size: 1rem;
  color: var(--white);
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}
.titleCard{
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--white);
}
.btnCard{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: var(--white);
  background-color: var(--limongreen);
  padding:.5rem 1.5rem;
  border-radius: .5rem;
}
/*Sobre*/
.containrs-sobre{
  width: 100%;
  padding: 2rem 0;
  background-color: black;
}

.conteudo-sobre{
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;

}
h2 {
  font-family: 'Nunito', sans-serif;
  color: var(--white);
}
.skills{
  color: var(--white);
}
.sobre-img{
  width: 20rem;
}
.sobre-info{
  width: 30%;
  font-family: 'Poppins', sans-serif;
}

.sobre-p{
  font-family: 'Poppins', sans-serif;
  color: white;
  margin: 1rem 0;
}

.skill-html{
  height: 1rem;
  background-color: dimgray;
  display: flex;
  margin: .5rem 0;

  
}
.skill-html::before{
  content: "";
  width: 90%;
  background-color: var(--limongreen);
  
}
.skill-css{
  height: 1rem;
  background-color: dimgray;
  display: flex;
  margin: .5rem 0;
}
.skill-css::before{
  content: "";
  width: 80%;
  background-color: var(--limongreen);
}
.skill-js {
  height: 1rem;
  background-color: dimgray;
  display: flex;
  margin: .5rem 0;
}

.skill-js::before {
  content: "";
  width: 90%;
  background-color: var(--limongreen);
}

/*Contato*/
.containrs-contato{
  width: 100%;
  background-color: silver;
  padding:  2rem 0;
}
.conteudo-contato{
  margin: 1rem auto;
  width: 80%;
}
.form{
  
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  /*color: var(--white);*/
  width: 70%;
  margin: 3rem auto;
  padding: 1rem;
  border: 1px solid black;
  
  /*background-color: var(--grey11);*/
  border-radius: .5rem;
}
.form-item{
  display: flex;
  width:100%;
  flex-direction: column;
  margin: 1rem 0;
}
.form input{
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  background-color: dimgray;
  outline: none;
  border: none;
}
.form textarea{
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  outline-color: greenyellow;
  background-color: dimgray;
  outline: none;
  border: none;
}
.form button{
  padding: .3rem 2rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: var(--limongreen);
  color:var(--white);
  border: none;
  outline: none;
}
/*footer*/
.container-footer{
  font-family: 'Poppins', sans-serif;
  color: white;
  width: 100%;
  background-color: black;
  padding: 2rem 0;
}
.content-footer{
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  
}
.autor ,.redesociais ,.contato{
  width: 30%;
  padding-left: 2rem;
}
.content-footer img{
  width: 1.5rem;
}
.contato a{
  text-decoration: none;
}
.contato p{
  padding-top: .5rem;
}


.imgs{
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 1rem;
}

/**/
